# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Virtual environment
.env/
venv/
.venv/
ENV/
env/

# Configuração de ambiente e variáveis sensíveis
.env
*.env

# Logs e dados temporários
*.log
*.sqlite3
*.db
*.log.*

# Arquivos gerados por IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de controle de dependências
pip-log.txt
pip-delete-this-directory.txt

# Caches
.cache/
.pytest_cache/
.tox/
.coverage
coverage.xml
nosetests.xml

# Arquivos de compilação e distribuição
dist/
build/
*.egg-info/

# Arquivos específicos de contêineres
docker-compose.override.yml
