.menuFooter {
    display: flex;
    gap: 13px;  
    width: 180px;  
    margin-top: 70px;
  }
  
  .menuFooterItem {
    background-color: #ffffff;
    color: #7a3afc;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menuFooterItem2>span{
    color: white;
  }
  .menuFooterItem>span{
    color: black;
  }
  .menuFooterItem2 {
    gap: 5px;
    background-color: transparent;
    color: #7a3afc;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menuFooterItem span {
    margin-left: 10px;
  }
  
  .menuFooterItem:hover {
    background-color: #f3f3f8;
  }
  