.main_container_proximo_btn {

    display: flex;            /* Usar flexbox */
    justify-content: flex-end; /* Alinhar conteúdo à direita */
    margin-top: 50px;   
    margin-right: 20px;     /* Mantém a margem superior */    

    .proximo_btn {
        background: linear-gradient(135deg, #a259ff, #6100ff);
        border: none;
        color: white;
        padding: 20px 35px;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
    }

    .proximo_btn:hover {
        transform: scale(1.05);
    }
}
@font-face {
    font-family: 'Mulish-Medium';
    src: url('Mulish-Medium.ttf') format('truetype');
}
.FileName{
    font-family: 'Mulish-Medium';
    font-weight: 500;
} .notification {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 430px;
    height: 80px;
    transform: translateX(-50%);
    background-color: white;
    color: #35c38b;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .notificationClose {
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
    color: black;
    margin-right: 20px;
  }
  .notificationError {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 430px;
    height: 80px;
    transform: translateX(-50%);
    background-color: white;
    color: #EA3A3D;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  embed{
    border: none;
    margin: 0;
    padding: 0;
  }
.feedback{
    background-color: black;
    color: white;
    overflow-y: scroll;
    width: 450px;
    height: 600px;
  }
  .feedback ul{
    flex-direction: column;
    text-align: justify;
    padding-right: 20px;
  }
  .responseContainer{
    flex-direction: row;
  }