.botoes_container {
    display: flex;
    gap: 10px;
  }
  
  .login_btn {
    background: linear-gradient(135deg, #a259ff, #6100ff);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .login_btn:hover {
    transform: scale(1.05);
  }
  
  .criar_conta_btn {
    background-color: transparent;
    border: 1px solid #a259ff;
    color: #a259ff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .criar_conta_btn:hover {
    transform: scale(1.05);
  }
  