@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Black.ttf') format('truetype');
}
.nomeLogo{
    font-family: 'Mulish';
    font-weight: 900;
    color: white;
}
.logoDiv{
    display: flex;
    margin-left: 30px;
    align-items: center;
    gap: 5px;
}
.logoDiv>img{
    width: 30px;
    height: 30px;

}