@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Medium.ttf') format('truetype');
}

.itemNav {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'Mulish';
    font-weight: 100;
}

ul {
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Mover o nav levemente à esquerda */
    gap: 20px;
    align-items: center;
    flex-grow: 1; /* O ul ainda cresce, mas mais à esquerda */
}

.navDiv {
    align-items: center;
    width: 100%; /* O nav ocupa toda a largura disponível */
}

@media (max-width: 768px) { /* Para telas médias */
    ul {
        justify-content: flex-start; /* O nav fica mais à esquerda */
        gap: 15px; /* Reduz o espaçamento */
    }
}

@media (max-width: 480px) { /* Para telas pequenas */
    ul {
        flex-direction: column; /* Empilha os itens verticalmente */
        gap: 10px;
    }
}
