@font-face {
    font-family: 'Mulish-SemiBold';
    src: url('Mulish-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Mulish-Regular';
    src: url('Mulish-Regular.ttf') format('truetype');
}
.bannerTitulo{
    color: white;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Mulish-SemiBold';
    text-align:left;
}
.bannerDescricao{
    color: white;
    margin-top: 0px;
    margin-left: 40px;
    font-family: 'Mulish-Regular';
}
.bannerDiv{
    display: flex;
    gap: 70px;
}