@font-face {
    font-family: 'Mulish-Medium';
    src: url('Mulish-Medium.ttf') format('truetype');
}
.ellipse {
    width: 70px; /* largura do div */
    height: 70px; /* altura do div */
    background: linear-gradient(135deg, #A100FF, #610099);
    border-radius: 100%; /* bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
    display: flex; /* Adicione esta linha */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: auto;
}
.novoCurriculo{
    border: 1.5px dashed #242424;
    margin-left: 40px;
    margin-top: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.novoCurriculoLabel{
    color: white;
    font-family: 'Mulish-Medium';
}